/POO/build/
/EDII/Trabalho 1/Trabalho 1 - ED II.layout
/EDII/Trabalho 1/Trabalho 1 - ED II.depend
/EDII/Trabalho 1/Trabalho 1 - ED II.cbp
/EDII/Trabalho 1/Trabalho 1 - ED II/bin/
/EDII/Trabalho 1/Trabalho 1 - ED II/obj/
